*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url(https://img.freepik.com/premium-vector/money-transfer-money-transaction-global-currency-network-stock-exchange-business-concept_42421-1317.jpg?semt=ais_hybrid&w=740&q=80);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
}
.container{
    background :linear-gradient(45deg ,rgba(252, 207, 58, 0.966),rgba(136, 38, 75, 0.986));

    padding:2rem;
    border-radius:1rem;
    min-height:45vh;
   min-width:40vw;
}
form{
    margin:2rem 0 2rem 0;
}
form select,input,button{
    width:100%;
    border:none;
    outline:none;
    border-radius:0.75rem;
}
form input{
    border:1px solid lightgrey;
    font-size:1rem;
    height:3rem;
    padding-left:0.5rem;

}
form p{
    font-weight:500;
}
.dropdown{
    display:flex;
    /* background-color: pink; */
    justify-content:space-between;
    align-items:center;
    margin-top:2rem;

}
.dropdown i{
    margin-top:1rem;
    /* color: red; */
    font-size:1.5rem;
    font-weight:bolder;
}
.select-container{
    display:flex;
    justify-content:center;
    align-items:center;
    /* background-color: red; */
    width:6rem;
    border-radius:0.5rem;
    border:1px solid rgba(0, 0, 0, 0.685);
    cursor:grab;

}
.select-container img{
    max-width:2rem;
}
.select select{
    font-size:1rem;
    width:auto;
    cursor:grab;

}
.msg{
    margin:2rem 0 2rem 0  ;
}
form button{
    height:3rem;
    background-color:#4a9412e3;
    color:white;
    font-size:1.15rem;
    cursor:pointer;

}
form button:hover{
    transform:scale(0.9)
}
.msg{
    font-weight:bolder;
}


